.pixelgrade_assistant-wrapper {
    max-width: 820px;
    margin: 50px auto;

    &, * {
        box-sizing: border-box;
    }
}

%box
 {
    background: $white;
	// border-radius: 4px;
	// box-shadow:
	// 	0 4px 4px 0 rgba(42,54,52,0.1),
	// 	0 8px 8px 0 rgba(42,54,52,0.1),
	// 	0 16px 16px 0 rgba(42,54,52,0.1),
	// 	0 16px 32px 0 rgba(42,54,52,0.1),
	// 	0 32px 64px 0 rgba(42,54,52,0.1),
	// 	0 64px 128px 0 rgba(42,54,52,0.1);

	box-shadow: 0px 1px 3px rgba(42, 54, 52, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 8px 8px 5px 5px;
}

.shadow {

}

.rounded {
	border-radius: 8px 8px 5px 5px;
}

.rounded--small {
	border-radius: 4px;
}

.shadow--toaca {
	box-shadow: 0px 1px 3px rgba(42, 54, 52, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.shadow--mont-blanc {
	box-shadow: 0px 64px 128px rgba(42, 54, 52, 0.1), 0px 16px 32px rgba(42, 54, 52, 0.1);
}

.shadow--kilimanjaro {
	box-shadow: 0px 32px 128px rgba(42, 54, 52, 0.1), 0px 16px 64px rgba(42, 54, 52, 0.1), 0px 8px 16px rgba(42, 54, 52, 0.1);
}

.shadow--everest {
	box-shadow: 0px 64px 128px rgba(42, 54, 52, 0.1), 0px 32px 64px rgba(42, 54, 52, 0.1), 0px 16px 32px rgba(42, 54, 52, 0.1), 0px 16px 16px rgba(42, 54, 52, 0.1), 0px 8px 8px rgba(42, 54, 52, 0.1), 0px 4px 4px rgba(42, 54, 52, 0.1);
}

.u-text-center {
    text-align: center;
}

.list--bullets {
    &,
    .section & {
        padding-left: 25px;
        list-style-type: disc;
    }
}

.disabled-element {
	pointer-events: none;
	opacity: 0.4;
}

.disabled-loader {
	border: 12px solid #f3f3f3;
	border-top: 12px solid #9660C6;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1.2s linear infinite;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 100;
	margin-top: -60px;
	margin-left: -60px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.theme-selector {
	display: flex;
	flex-wrap: wrap;
	margin-left: -30px;
	align-items: stretch;
}

.theme-select-container {
	width: 50%;
	padding-left: 30px;
	margin-top: 30px;
}

.theme-select-theme {
	position: relative;
	padding-top: 94%;
	border-radius: 6px;
	border: 1px solid #DDDDDD;
	overflow: hidden;

	transform: translateY(0px);
    box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.1);

    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);

    &:hover {
		transform: translateY(-3px);
	    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.7);
	    border-color: #9660C6;

		.theme-select-text {
			opacity: 1;
		}

		.theme-select-overlay:before {
			opacity: 0.9;
		}
    }
}

.theme-select-image {
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 100%;
	height: auto;
}

.theme-select-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 14px 22px;
    border-top: 1px solid #DDDDDD;

    //font-family: "Galano Classic", sans-serif;
    font-size: 18px;
    font-weight: 600;

    background: #F6F5F7;
    letter-spacing: initial;
}

.theme-select-overlay:before {
	content: "";
	display: block;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	opacity: 0;
	transition: .2s cubic-bezier(0, 0, 0.58, 1);
	background-color: #9660C6;
}

.theme-select-text {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	font-size: 20px;
	color: white;
	opacity: 0;
	transition: opacity .2s cubic-bezier(0, 0, 0.58, 1);
}

.activate-theme-button[class] {
	width: 214px;
	padding-left: 15px;
	padding-right: 15px;
	transition: all .2s cubic-bezier(0,0,.58,1);
	transition-property: transform, box-shadow;
	background-color: #FFFFFF;

	font-size: 18px;

	&.btn:hover {
	    color: #201E21;
	    background-color: #ffffff;
		transform: scale(1.05) translateY(-3px);
		box-shadow:
			0 4px 4px 0 rgba(42,54,52,.1),
			0 8px 8px 0 rgba(42,54,52,.1),
			0 16px 16px 0 rgba(42,54,52,.1),
			0 16px 32px 0 rgba(42,54,52,.1),
			0 32px 64px 0 rgba(42,54,52,.1),
			0 64px 128px 0 rgba(42,54,52,.1);
	}

	&,
	&:active {
		box-shadow: 0 10px 20px -10px rgba(0,0,0,.7);
		transform: none;
	}

	&:active {
		transition-duration: .1s;
	}
}
