
.section:not(.section--airy):not(.separator) {
	@extend %box;
}

.section {
    @extend %clearfix;
    position: relative;

    padding: 30px;
    margin: 20px 0;

    &--informative {
        padding: 50px;

        &.entry-content .section__title,
        .section__title {
            margin: -10px 0;

            font-size: 36px;
            font-weight: bold;
            line-height: 49px;
        }

        .section__content {
            margin: 20px 0 20px 0;

            .section__content {
                // margin-bottom: 0;
            }
        }
    }

    // Overwrite Specific Styles
    .section__content {
        > *:first-child:not(p) {
            margin-top: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        //font-family: $font-headings;
        -webkit-font-smoothing: antialiased;
    }

    h5 + p {
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    a:not([class]) {
        color: pink;
        @include content_links;
    }

    > *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

.section--airy {
	box-shadow: none;
    margin: 25px 0 20px 0;
    padding: 0;

    border: 0;
    background: transparent;

    .section__subtitle {
        margin-top: 0;
        margin-bottom: 5px !important;

        font-size: 18px;
        font-weight: bold;
        line-height: 24px;

        opacity: 0.9;
        color: #738D96;
    }

    .section__title {
        margin-bottom: 0 !important;
        opacity: 0.9;

        font-size: 23px;
        line-height: 29px;
        font-weight: bold;
        text-align: center;
    }
}

.section__title {
    margin-top: 0;
    margin-bottom: 40px;

    font-size: 22px;

    color: $darker;

    -webkit-font-smoothing: antialiased;
}

.section__content,
.blocks {
    //font-family: $font-body;
    font-size: 16px;
    line-height: 1.625;
    color: $light;

    & + .btn--cta {
        margin-top: 12px;
    }
}

p.section__content {
    font-size: 16px;
    line-height: 1.625;
    color: $light;

    &.small {
        font-size: 14px;
    }
}

.section__close {
    position: absolute;
    top: 0;
    right: 0;

    padding: 12px;

    background: none;

    &:before {
        content: "\f153";

        display: block;
        height: 20px;
        width: 20px;

        font: 400 16px/20px dashicons;
        text-align: center;

        color: #b4b9be;

        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.faq-question {
    margin-bottom: 27px;

    h3 {
        margin-bottom: 9px;
        font-size: 16px;
    }

    p {
        margin-top: 0;
    }
}

.blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -30px;

    > * {
        flex-basis: 100%;
        margin-left: 30px;
    }

    .half  {
        flex-basis: 46%;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.section {
			margin-top: 0;
		}

		.section__title {
			margin-bottom: 14px;

			font-size: 18px;
			line-height: 1.33;
		}

		.section__content {
			margin: 0;
			margin-bottom: 22px;
		}

		p {
			margin-top: 0;
			margin-bottom: 14px;
			font-size: 14px;
			line-height: 1.7;
		}

		.btn:last-child {
			margin-top: auto;
		}
    }
}

.block {
    &.half {
        // Screen: Setup Wizard → Ready
        h4 {
            margin-bottom: 14px;
        }

        ul {
            margin-left: 0;

            li {
                list-style: none;
            }
        }
    }
}



ul.benefits {
  margin-left: 0;
  margin-bottom: 35px !important;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    i {
      position: relative;
      display: block;
      flex-shrink: 0;

      width: 22px;
      height: 22px;
      margin-right: 10px;
      border: 2px solid currentColor;
      border-radius: 50%;

      font-style: normal;
      color: $accent--purple;
      @include pxg-mark;
    }
  }
}
