$dark:          #463850;

$dark--light:   #463850;
$accent--blue:  #00A9DE;
$accent--purple:#8E65C0;
$accent--green: #00CAB6;
$white:         #ffffff;
$grey:          #f1f1f1;
$dark-grey:     #aaaaaa;
$borders:       #dddddd;
$borders-alt:   #ebebeb;
$green:         #00CAB6;

$darker:		#201E21;
$light:			#78717D;
