$setup-bg: #F1F1F1;
$setup-gray: #cccccc;

.pixelgrade_care-setup {
  margin: 0;
  padding: 100px 0;

  background-color: $setup-bg;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

  .pixelgrade_care-wrapper {
    max-width: 720px;
    margin-top: 0;
  }

  .btn--small {
    padding: 12px 55px;
    background-color: $accent--purple;

    &:hover {
      // background-color: $dark--light;
    }
  }
}

.setup-wizard-theme-name {
  // @extend .theme__name;
  @extend .u-text-center;
  
  margin: 0;
  margin-bottom: 30px;

  font-size: 72px;
  font-weight: normal;
  line-height: 1.33;
  // letter-spacing: 10px;
  text-transform: capitalize;
}

.stepper {
  .btn--text,
  .btn--small {
    font-size: 14px;
  }

  .section--informative {
    margin-top: 15px;
  }

  .no-background {
    background: transparent !important;
  }

  .stepper-container {
    display: flex; flex-direction: row; place-content: center space-between; align-items: center;

    margin-bottom: 12px;

    padding-left: 0;
    padding-right: 0;
  }
}

.stepper > div:first-of-type > *:not(.stepper__step) {
  display: none;
}

.stepper__step {
  cursor: pointer;
  flex: 1 1 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.stepper__label {
  position: relative;

  padding: 0 !important;
  flex-wrap: wrap;
  justify-content: center;

  cursor: inherit;

  $spacing-top: 23px;

  .stepper__label-icon {
    position: relative;
    z-index: 3;
    top: 13px;

    height: 20px;
    width: 20px;
    padding: 0 !important;

    background-color: $setup-bg;

    opacity: 0;

    transition: opacity .2s ease-in-out;

    svg {
      margin-left: -2px;
      margin-top: -2px;
    }
  }

  &:before {
    content: "";

    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    width: 14px;
    height: 14px;

    background: $setup-bg;

    border: 3px solid $setup-gray;
    border-radius: 50%;

    transition: all .2s ease-in-out;
  }

  &:after {
    content: "";

    position: absolute;
    left: 0;
    top: 45px;
    z-index: 1;

    display: block;
    width: 100%;

    height: 4px;

    background: linear-gradient(to right, $setup-gray 0%, $setup-gray 100%);

    transition: all .5s ease-in-out;
  }

  .current &,
  .passed &,
  .done & {
    &:before {
      border-color: $accent--purple;
      background: $accent--purple;
    }
  }

  .passed &,
  .passed:last-child & {
    &:after {
      background: linear-gradient(to right, $accent--purple 0%, $accent--purple 100%);
    }
  }

  .current & {
    &:after {
      background: linear-gradient(to right, $accent--purple 0%, $accent--purple 50%, $setup-gray 50%, $setup-gray 100%);
    }
  }

  .done & {
    .stepper__label-icon {
      opacity: 1;
    }
  }
}

.stepper__label-name {
  order: -1;
  flex: 1 1 100%;
  display: block;
  // margin-top: 10px;

  text-align: center;

  //font-family: $font-headings;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;

  color: $light;

  cursor: inherit;

  .current &,
  .done &,
  .passed & {
    color: $accent--purple;
  }

  & > span[class] {
    //font-family: $font-headings;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
}

.stepper__navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  // Connect Screen:
  // When it's not connected
  &:empty {
    margin-top: -30px;
  }
}

.stepper__navigator .btn--action {
  margin-left: auto;
}

.stepper__content {
  opacity: 1;
  transition: opacity .25s ease-in-out;

  &.is--hidden {
    opacity: 0;
  }

  /*Blocks classes*/
  .block {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    &.half {
      width: 50%;

      a:not([class]) {
        color: $light;
        background: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.stepper .btn--text.btn--return-to-dashboard {
  display: block;
  margin-top: 12px;

  font-size: 16px;
  font-weight: 400;
  text-align: center;
}


// Plugins list
.plugins {
  padding: 0;
  list-style-type: none;

  p {
    margin-left: 0;
  }
}

.plugin {
  overflow: hidden;
  margin-bottom: 10px;

  transition: .3s background ease-in-out;

  // Hack to make overflow respect border-radius
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.starter_content {

  .box {
    padding: 16px 20px;

    &:hover {
      background-color: #f8f8f8;
    }

    &:before {
      content: none;
    }

    & > div > div:first-child {
      margin-top: 10px;
    }
  }
}

a.import--action[disabled] {
  cursor: not-allowed;
  background-color: #738D96;

}

a.import--action {
  margin-top: 24px;
}

#wp-a11y-speak-polite {
  display: none;
}

.logo-pixelgrade {
  display: none;
  width: 143px;
  height: 37px;
  margin: 150px auto 0;

  background: url('../images/pg-logo.svg') center center no-repeat;
  background-size: contain;
  pointer-events: none;
}

.pixlgrade-care-welcome {

  .crown {
    display: none;
    width: 85px;
    height: 67px;
    margin: 0 auto 110px;

    background: url('../images/crown.svg') center center no-repeat;
    background-size: contain;
  }
}

#pixelgrade_care_setup_wizard {
  .crown {
    width: 85px;
    height: 67px;
    margin: 0 auto 110px;

    background: url('../images/crown.svg') center center no-repeat;
    background-size: contain;
  }
}

.stepper > :first-child {
  pointer-events: none;
}
