
.clear:after {
  content: "";
  display: table;
  clear: both;
}

#pixelgrade_assistant-support-button {
  position: fixed;
  right: 10px;
  bottom: 10px;

  // WordPress' modals have z-index: 160000
  z-index: 150000;

  button {
    > span:first-child {
      text-transform: capitalize !important;
      font-size: 13px;

      .info-icon {
        margin-right: 5px;
        font-size: 17px;
      }
    }
  }
}

.wp-customizer #pixelgrade_assistant-support-button {
  z-index: 550000;
}

// Make WordPress Version Visible
#wpfooter {
  padding-right: 130px;
}

.pixassist-support-modal-wrapper {

  &.hidden {
  }
}

#pixassist-support-modal {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 200px;

  width: 50%;
  max-width: 900px;
  min-width: 450px;
  height: 100%;
  overflow-x: auto;
  overscroll-behavior: contain;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  padding: 46px;
  padding-bottom: 120px;
  z-index: 99999999999;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;

  background-color: $white;
  box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.10), 0 8px 8px 0 rgba(42, 54, 52, 0.10), 0 16px 16px 0 rgba(42, 54, 52, 0.10), 0 16px 32px 0 rgba(42, 54, 52, 0.10), 0 32px 64px 0 rgba(42, 54, 52, 0.10), 0 64px 128px 0 rgba(42, 54, 52, 0.10);

  // Handle the top space of the support modal.
  // Account for regular admin bar, block editor header (in regular mode and fullscreen mode).
  body.admin-bar & {
    top: 32px;
    height: calc(100% - 32px);
  }

  body.admin-bar.block-editor-page & {
    top: 94px; // 32 + 62 for the block editor header
    height: calc(100% - 94px);
  }

  body.admin-bar.block-editor-page.is-fullscreen-mode & {
    top: 62px; // 62 for the block editor header
    height: calc(100% - 62px);
  }

  .tabs__close-btn {
    position: absolute !important;
    right: 0;
    top: 0;
    min-width: 0 !important;

    width: 54px !important;
    height: 54px !important;

    color: $dark--light !important;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    opacity: 0.6;

    &:hover {
      background: transparent !important;
      opacity: 1;
    }

    > div > span {
      display: none;
    }
  }

  .external-link {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;

    background: url('../images/icon-external-link.svg') center no-repeat;

    opacity: 0.3;

    &:active, &:focus {
      outline: none;
      box-shadow: none;
    }

    &:hover {
      opacity: 1;
    }
  }

  #docsSearchBox {
    position: relative;

    .reset-search-field {
      position: absolute;
      right: 5px;
      top: 7px;

      color: $dark--light !important;
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;

      opacity: 0.6;

      &:hover {
        background: transparent !important;
        opacity: 1;
      }
    }
  }

  .search-result-title {
    margin-top: 14px;

    overflow: hidden;

    h2 {
      margin: 0;
      float: left;
    }

    .external-link {
      float: right;
      margin-top: 7px;
    }
  }

  .support-search {
    margin-top: 34px;
  }

  .error, .updated {
    margin-top: 34px;
    box-shadow: none;
    padding-bottom: 10px;
  }

  .self-help-breadcrumbs {
    margin: 34px 0 14px 0;

    span {
      a {
        font-size: 14px;
        font-weight: 600;
        line-height: 19px;
        color: $dark--light;
        text-decoration: none;
      }

      .dashicons {
        font-size: 16px;
        color: $dark-grey;
        margin: 0 6px;
        vertical-align: bottom;
      }

      &:last-child a {
        color: $accent--purple;
      }
    }
  }

  .support-ticket-wrapper {
    input, textarea {
      width: 100%;
      margin: 0;
      padding: 11px 18px;
      border: 1px solid $borders;
      border-radius: 4px;
      box-shadow: none;
      font-size: 16px;
      line-height: 26px;
      color: $dark--light;
    }

    textarea {
      max-width: 100%;
    }

    label {
      display: block;
      margin-bottom: 3px;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
    }

    .form-row {
      margin-bottom: 30px;

      &.submit-wrapper {
        text-align: right;
      }

      a:not([class]) {
        @include content_links;
        color: $accent--purple;
      }
    }

    .label__more-info {
      margin-bottom: 10px;
      margin-top: 0;
      font-size: 15px;
      line-height: 26px;
    }

    .ticket-form {
      margin-top: 38px;
    }
  }

  .btn.btn__dark {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 2px;
    background: $dark--light;
    color: $white;
    text-decoration: none;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
    cursor: pointer;
  }

  .notification {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    padding: 12px 16px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;

    .btn {
      // text-transform: uppercase;
    }

    .dashicons {
      font-size: 20px;
      margin: 0 15px 0 5px;
    }

    &.sticky {
      position: fixed;
      bottom: 30px;
      right: 0;
      margin-left: -20px;
      margin-right: 20px;
      box-sizing: border-box;
      z-index: 9999;

      &.feedback-message-form {
        right: auto;
      }
    }
  }

  .notification__blue {
    color: $white;
    background: $accent--purple;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);

    &.dark {
      background: $dark--light;
    }
  }

  .notification__green {
    color: $white;
    background: $accent--green;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
  }

  .notification__message {
    padding: 0 8px;

    @media only screen and (max-width: 900px) {
      text-align: center;
    }
  }

  .notification__actions {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    margin-left: auto;

    > .btn {
      margin-left: 10px;
    }

    @media only screen and (max-width: 900px) {
      flex-basis: 100%;
      margin-top: 10px;

      .btn:first-child {
        margin-left: 0;
      }
    }
  }


  table, iframe, img, canvas {
    max-width: 100% !important;
  }

  img {
    height: auto;
  }

  table {
    width: 100% !important;
  }

  p {
    font-size: 16px;
  }

  .tabs-container {
    border-bottom: 1px solid $borders;
    padding-left: 46px;
    padding-right: 46px;
    margin: -46px -46px 46px -46px;

    .tab__button {
      text-transform: none !important;

      &.active, &:hover {
        // color: $dark !important;
      }
    }
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
    color: $dark--light;
    opacity: .5;
  }

  input:-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
    color: $dark--light;
    opacity: .5;
  }

  input::-moz-placeholder { /* Firefox 19+ */

    font-size: 16px;
    color: $dark--light;
    opacity: .5;
  }

  input:-ms-input-placeholder {

    font-size: 16px;
    color: $dark--light;
    opacity: .5;
  }

  #kb-listing,
  .topics-list,
  .accordion-list {
    border: 1px solid $borders;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 0;

    // First Level
    > li,
      // Second level
    > li > ul > li {
      position: relative;
      margin-bottom: 0;
      border-top: 1px solid $borders;

      &:first-child {
        border-top: 0;
      }

      > a:not(.external-link),
      & > span {
        display: block;
        position: relative;
        padding-left: 50px;
        padding-top: 13px;
        padding-bottom: 13px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        line-height: 22px;
        text-decoration: none;
        color: $dark--light;
      }

      & > span {
        padding-left: 20px;
        font-weight: 700;
      }

      > a:not(.external-link) {

        &:hover, &:active, &:focus {
          outline: none;
          box-shadow: none;
          background: $accent--purple;
          color: white;

          &:before {
            color: white;
          }
        }

        &:before {
          content: "\f345";
          display: inline-block;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translate(0, -50%);

          color: $dark-grey;
          font: normal normal normal 14px/1 dashicons;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

        }
      }
    }

    .external-link {
      position: absolute;
      right: 16px;
      top: 16px;
      z-index: 999;
    }

    &:empty {
      display: none;
    }
  }

  .accordion-list {
    > li {
      > a:not(.external-link) {
        &:before {
          content: "\f347";
        }

        &.open-nav {
          background: $accent--purple;
          color: white;
          font-weight: bold;

          &:before {
            content: '\f343';
            color: white;
          }
        }
      }
    }
  }

  .related-article-rendered {
    padding: 20px;
    border-top: 1px solid $borders;
  }

  .ticket-submit-wrapper {
    display: inline-block;
  }

  #error-description {
    font-size: 12px;
    color: red;
  }

  .support-disabled {
    .support-autocomplete-search input,
    .support-ticket-wrapper {
      pointer-events: none;
      opacity: .5;
    }
  }

  .not-allowed {
    cursor: not-allowed;
  }

  .hidden {
    display: none;
  }

  .feedback {

    .notification__message {
      margin-top: 0;
      color: inherit;
    }

    .notification__actions {
      margin-top: 25px;

      .btn {
        text-transform: none;
      }
    }
  }

  // Taken from Material UI so it would take precedence


  @-webkit-keyframes mui-auto-fill {}
  @-webkit-keyframes mui-auto-fill-cancel {}
  .MuiInputBase-root {
    color: #463850;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1.1428571428571428rem;
    box-sizing: border-box;
    align-items: center;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.1876em;
  }
  .MuiInputBase-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
  }
  .MuiInputBase-multiline {
    padding: 6px 0 7px;
  }
  .MuiInputBase-multiline.MuiInputBase-marginDense {
    padding-top: 3px;
  }
  .MuiInputBase-fullWidth {
    width: 100%;
  }
  .MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    min-height: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
  }
  .MuiInputBase-input::-webkit-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .MuiInputBase-input::-moz-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .MuiInputBase-input:-ms-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .MuiInputBase-input::-ms-input-placeholder {
    color: currentColor;
    opacity: 0.42;
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
  .MuiInputBase-input:focus {
    outline: 0;
    box-shadow: none;
  }
  .MuiInputBase-input:invalid {
    box-shadow: none;
  }
  .MuiInputBase-input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  .MuiInputBase-input.Mui-disabled {
    opacity: 1;
  }
  .MuiInputBase-input:-webkit-autofill {
    animation-name: mui-auto-fill;
    animation-duration: 5000s;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input::-webkit-input-placeholder {
    opacity: 0 !important;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input::-moz-placeholder {
    opacity: 0 !important;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:-ms-input-placeholder {
    opacity: 0 !important;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input::-ms-input-placeholder {
    opacity: 0 !important;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus::-webkit-input-placeholder {
    opacity: 0.42;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus::-moz-placeholder {
    opacity: 0.42;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus:-ms-input-placeholder {
    opacity: 0.42;
  }
  label[data-shrink=false] + .MuiInputBase-formControl .MuiInputBase-input:focus::-ms-input-placeholder {
    opacity: 0.42;
  }
  .MuiInputBase-inputMarginDense {
    padding-top: 3px;
  }
  .MuiInputBase-inputMultiline {
    height: auto;
    resize: none;
    padding: 0;
  }
  .MuiInputBase-inputTypeSearch {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
  }



  .MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #463850;
  }
  @media (hover: none) {
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: rgba(0, 0, 0, 0.23);
    }
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #8E65C0;
    border-width: 2px;
  }
  .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #f44336;
  }
  .MuiOutlinedInput-root.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.26);
  }
  .MuiOutlinedInput-colorSecondary.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #00A9DE;
  }
  .MuiOutlinedInput-adornedStart {
    padding-left: 14px;
  }
  .MuiOutlinedInput-adornedEnd {
    padding-right: 14px;
  }
  .MuiOutlinedInput-multiline {
    padding: 18.5px 14px;
  }
  .MuiOutlinedInput-multiline.MuiOutlinedInput-marginDense {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }
  .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
  }
  .MuiOutlinedInput-input {
    padding: 18.5px 14px;
  }
  .MuiOutlinedInput-input:-webkit-autofill {
    border-radius: inherit;
  }
  .MuiOutlinedInput-inputMarginDense {
    padding-top: 10.5px;
    padding-bottom: 10.5px;
  }
  .MuiOutlinedInput-inputMultiline {
    padding: 0;
  }
  .MuiOutlinedInput-inputAdornedStart {
    padding-left: 0;
  }
  .MuiOutlinedInput-inputAdornedEnd {
    padding-right: 0;
  }


  .MuiFormLabel-root {
    color: #78717D;
    padding: 0;
    font-size: 1.1428571428571428rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1;
  }
  .MuiFormLabel-root.Mui-focused {
    color: #8E65C0;
  }
  .MuiFormLabel-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
  }
  .MuiFormLabel-root.Mui-error {
    color: #f44336;
  }
  .MuiFormLabel-colorSecondary.Mui-focused {
    color: #00A9DE;
  }
  .MuiFormLabel-asterisk.Mui-error {
    color: #f44336;
  }



  .MuiInputLabel-root {
    display: block;
    transform-origin: top left;
  }
  .MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
  }
  .MuiInputLabel-marginDense {
    transform: translate(0, 21px) scale(1);
  }
  .MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
  }
  .MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  }
  .MuiInputLabel-filled {
    z-index: 1;
    transform: translate(12px, 20px) scale(1);
    pointer-events: none;
  }
  .MuiInputLabel-filled.MuiInputLabel-marginDense {
    transform: translate(12px, 17px) scale(1);
  }
  .MuiInputLabel-filled.MuiInputLabel-shrink {
    transform: translate(12px, 10px) scale(0.75);
  }
  .MuiInputLabel-filled.MuiInputLabel-shrink.MuiInputLabel-marginDense {
    transform: translate(12px, 7px) scale(0.75);
  }
  .MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
  }
  .MuiInputLabel-outlined.MuiInputLabel-marginDense {
    transform: translate(14px, 12px) scale(1);
  }
  .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
  }



  .MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
  }
  .MuiFormControl-marginNormal {
    margin-top: 16px;
    margin-bottom: 8px;
  }
  .MuiFormControl-marginDense {
    margin-top: 8px;
    margin-bottom: 4px;
  }
  .MuiFormControl-fullWidth {
    width: 100%;
  }




  .MuiFormHelperText-root {
    color: #78717D;
    margin: 0;
    font-size: 0.8571428571428571rem;
    margin-top: 3px;
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.66;
  }
  .MuiFormHelperText-root.Mui-disabled {
    color: rgba(0, 0, 0, 0.38);
  }
  .MuiFormHelperText-root.Mui-error {
    color: #f44336;
  }
  .MuiFormHelperText-marginDense {
    margin-top: 4px;
  }
  .MuiFormHelperText-contained {
    margin-left: 14px;
    margin-right: 14px;
  }
}
