.system-status-tables div[style*="height: auto"]:not(.switch) {
    & > div:first-child table {
        &,
        thead,
        tr {
            border-bottom: 0 !important;
        }

        & {
            background-color: #FCFCFC !important;
        }
    }

    & {
        margin-bottom: 30px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.system-status-tables {

  .MuiSwitch-root {
    width: 58px;
    height: 38px;
    display: inline-flex;
    padding: 12px;
    z-index: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    vertical-align: middle;
  }
  .MuiSwitch-switchBase {
    top: 0;
    left: 0;
    color: #fafafa;
    z-index: 1;
    position: absolute;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    will-change: left, transform;
    border-radius: 50%;
    padding: 9px;
  }
  .MuiSwitch-switchBase.Mui-checked {
    left: 100%;
    transform: translateX(-100%);
  }
  .MuiSwitch-switchBase.Mui-disabled {
    color: #bdbdbd;
  }
  .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    opacity: 0.5;
  }
  .MuiSwitch-switchBase.Mui-disabled + .MuiSwitch-track {
    opacity: 0.12;
  }
  .MuiSwitch-colorPrimary.Mui-checked {
    color: $accent--purple;
  }
  .MuiSwitch-colorPrimary.Mui-disabled {
    color: #bdbdbd;
  }
  .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
    background-color: $accent--purple;
  }
  .MuiSwitch-colorPrimary.Mui-disabled + .MuiSwitch-track {
    background-color: #000;
  }
  .MuiSwitch-colorPrimary.Mui-checked:hover {
    background-color: rgba(142, 101, 192, 0.08);
  }
  .MuiSwitch-colorSecondary.Mui-checked {
    color: #00A9DE;
  }
  .MuiSwitch-colorSecondary.Mui-disabled {
    color: #bdbdbd;
  }
  .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #00A9DE;
  }
  .MuiSwitch-colorSecondary.Mui-disabled + .MuiSwitch-track {
    background-color: #000;
  }
  .MuiSwitch-colorSecondary.Mui-checked:hover {
    background-color: rgba(0, 169, 222, 0.08);
  }
  .MuiSwitch-sizeSmall {
    width: 40px;
    height: 24px;
    padding: 7px;
  }
  .MuiSwitch-sizeSmall .MuiSwitch-thumb {
    width: 16px;
    height: 16px;
  }
  .MuiSwitch-sizeSmall .MuiSwitch-switchBase {
    padding: 4px;
  }
  .MuiSwitch-input {
    left: -100%;
    width: 300%;
  }
  .MuiSwitch-thumb {
    width: 20px;
    height: 20px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 2px 1px -1px rgba(0,0,0,0.12);
    border-radius: 50%;
    background-color: currentColor;
  }
  .MuiSwitch-track {
    width: 100%;
    height: 100%;
    opacity: 0.38;
    z-index: -1;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 7px;
    background-color: #000;
  }

}

.system-status-table {
  border: 1px solid $borders-alt;
  margin-bottom: 30px;
  //border-collapse: separate;

  * {
    font-size: 14px !important;
  }

  th,
  td {
    padding: 15px 18px !important;
    text-align: left !important;
  }

  th,
  td:first-child {
    //font-family: $font-headings !important;
  }

  th {
    color: $dark--light !important;
  }

  td {
    //font-family: $font-body !important;
  }

  thead {
    background-color: #FCFCFC !important;
  }

  .system-status-description {
    font-size: 12px !important;
    text-align: right !important;
    color: #738D96;

    p {
      margin-top: 0;
      white-space: normal;
    }
  }

  .c-icon {
    width: 20px;
    height: 20px;
    margin-right: 7px;
    margin-bottom: -5px;
  }
}

.system-status-update-available {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: #FFBF4D;
}

.system-status-up-to-date {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	color: $green;
}

.icon-warning {
	height: 20px;
	width: 20px;
	background-color: #FFBF4D;
}

.icon-checked {	height: 20px;	width: 20px;	background-color: $green;}

#pixelgrade_assistant_dashboard {
  .tools {
    margin-top: 56px;
    .reset-wrapper {
      text-align: left;

      p {
        margin-bottom: 14px;
      }
    }
  }
}

.allow-collect-data {
  margin-bottom: 28px;
  margin-top: 28px;
  text-align: left;
}
