.dashboard-tabs > *:first-child {
  @extend %box;

  justify-content: flex-start;

  background: $white !important;
  width: auto !important;
}

.dashboard-tabs__tab-name {
  min-width: 120px !important;
  padding: 14px 26px !important;

  border-bottom: 3px solid transparent !important;
  border-radius: 0;

  //font-family: $font-headings !important;
  font-size: 15px !important;
  color: $dark !important;
  text-transform: none;

  opacity: .5;

  &--system-status, &:last-child {
    margin-left: auto !important;
    margin-right: 0 !important;

    &[disabled] {
      cursor: not-allowed !important;
    }
  }

  &:hover {
    opacity: 1;
  }
}
