.section:after {
  content: " ";
  display: table;
  clear: both; }

.entry-content {
  /**
     * Sync Typography Style with
     * Pixelgrade.com Knowledge Base
     * https://pixelgrade.com/docs
     */
  font-size: inherit;
  line-height: inherit; }
  .entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4 {
    font-weight: bold;
    margin-top: 0; }
  .entry-content.section h1, .entry-content.section h2, .entry-content.section h3, .entry-content.section h4 {
    margin-bottom: -14px; }
  .entry-content h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 28px; }
  .entry-content .entry-title h1 {
    font-size: 28px;
    line-height: 1.4;
    margin-top: 0; }
  .entry-content h2 {
    font-size: 23px;
    line-height: 1.33;
    margin-top: 28px;
    margin-bottom: 0; }
  .entry-content h3 {
    font-size: 20px;
    line-height: 1.45;
    margin-top: 28px; }
  .entry-content h4 {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 28px;
    color: #201E21; }
  .entry-content p {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: inherit;
    line-height: inherit; }
  .entry-content > div > p:first-child,
  .entry-content > p:first-child {
    margin-top: 0; }
  .entry-content dd, .entry-content ol, .entry-content ul {
    margin-right: 36px;
    margin-bottom: 36px; }
    .entry-content dd li, .entry-content ol li, .entry-content ul li {
      margin-bottom: 12px;
      list-style: disc; }
  .entry-content a:not(.btn) {
    color: #463850;
    text-decoration: none;
    text-shadow: -0.05em 0 0 white, 0.05em 0 0 white, 0 0.05em 0 white, 0 -0.05em 0 white, -0.1em 0 0 white, 0.1em 0 0 white, 0 0.1em 0 white, 0 -0.1em 0 white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background-repeat: repeat-x;
    background-position: bottom 0em center;
    background-size: 2px 0.15em;
    transition: all 0.15s ease;
    color: #8E65C0; }
    .entry-content a:not(.btn):hover {
      color: #8E65C0; }
  .entry-content code, .entry-content kbd {
    padding: 5px 8px;
    background: #eaeaea; }
  .entry-content pre {
    overflow: auto;
    padding: 15px 18px;
    background: #eaeaea; }
  .entry-content pre code {
    padding: 0; }

.pixassist-support-modal-wrapper .dashicons, .pixelgrade_assistant-wrapper .dashicons {
  display: inline-block;
  font: normal normal normal 14px/1 dashicons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.entry-content p .alignleft {
  margin-right: 0 !important;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 21px; }

.entry-content p .alignright {
  margin-left: 0 !important;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-right: 21px; }

.entry-content p .alignleft,
.entry-content p .alignright,
.entry-content p .aligncenter,
.entry-content p .alignnone {
  clear: none; }

.entry-content p .alignnone {
  display: inline-block; }

.entry-content .alignleft,
.entry-content .alignright,
.entry-content .aligncenter,
.entry-content .alignnone {
  margin-top: 28px;
  margin-bottom: 28px;
  max-width: 100%; }
  .entry-content .alignleft, .entry-content .alignleft img,
  .entry-content .alignright,
  .entry-content .alignright img,
  .entry-content .aligncenter,
  .entry-content .aligncenter img,
  .entry-content .alignnone,
  .entry-content .alignnone img {
    display: block; }

.entry-content .alignnone,
.entry-content .aligncenter {
  display: block; }

.entry-content .aligncenter {
  margin-right: auto;
  margin-left: auto; }

.entry-content .alignleft.alignleft,
.entry-content .alignright.alignright {
  max-width: 50%; }

.entry-content .alignleft {
  margin-left: 28px;
  float: right;
  clear: right; }

.entry-content .alignright {
  margin-right: 28px;
  float: left;
  clear: left; }

.entry-content .aligncenter, .entry-content .aligncenter img {
  margin-right: auto;
  margin-left: auto; }

.entry-content figure {
  margin: 0; }
  .entry-content figure.alignleft, .entry-content figure.alignright, .entry-content figure.aligncenter, .entry-content figure.alignnone {
    margin-top: 14px; }

.entry-content .wp-caption-text {
  margin-top: 14px; }

.pixelgrade_assistant-wrapper {
  max-width: 820px;
  margin: 50px auto; }
  .pixelgrade_assistant-wrapper, .pixelgrade_assistant-wrapper * {
    box-sizing: border-box; }

.dashboard-tabs > *:first-child, .section:not(.section--airy):not(.separator) {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(42, 54, 52, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 5px 5px; }

.rounded {
  border-radius: 8px 8px 5px 5px; }

.rounded--small {
  border-radius: 4px; }

.shadow--toaca {
  box-shadow: 0px 1px 3px rgba(42, 54, 52, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.1); }

.shadow--mont-blanc {
  box-shadow: 0px 64px 128px rgba(42, 54, 52, 0.1), 0px 16px 32px rgba(42, 54, 52, 0.1); }

.shadow--kilimanjaro {
  box-shadow: 0px 32px 128px rgba(42, 54, 52, 0.1), 0px 16px 64px rgba(42, 54, 52, 0.1), 0px 8px 16px rgba(42, 54, 52, 0.1); }

.shadow--everest {
  box-shadow: 0px 64px 128px rgba(42, 54, 52, 0.1), 0px 32px 64px rgba(42, 54, 52, 0.1), 0px 16px 32px rgba(42, 54, 52, 0.1), 0px 16px 16px rgba(42, 54, 52, 0.1), 0px 8px 8px rgba(42, 54, 52, 0.1), 0px 4px 4px rgba(42, 54, 52, 0.1); }

.u-text-center, .setup-wizard-theme-name {
  text-align: center; }

.list--bullets,
.section .list--bullets {
  padding-right: 25px;
  list-style-type: disc; }

.disabled-element {
  pointer-events: none;
  opacity: 0.4; }

.disabled-loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #9660C6;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1.2s linear infinite;
          animation: spin 1.2s linear infinite;
  position: absolute;
  right: 50%;
  top: 50%;
  z-index: 100;
  margin-top: -60px;
  margin-right: -60px; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

.theme-selector {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  align-items: stretch; }

.theme-select-container {
  width: 50%;
  padding-right: 30px;
  margin-top: 30px; }

.theme-select-theme {
  position: relative;
  padding-top: 94%;
  border-radius: 6px;
  border: 1px solid #DDDDDD;
  overflow: hidden;
  transform: translateY(0px);
  box-shadow: 0 0px 20px -10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1); }
  .theme-select-theme:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.7);
    border-color: #9660C6; }
    .theme-select-theme:hover .theme-select-text {
      opacity: 1; }
    .theme-select-theme:hover .theme-select-overlay:before {
      opacity: 0.9; }

.theme-select-image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: auto; }

.theme-select-title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 14px 22px;
  border-top: 1px solid #DDDDDD;
  font-size: 18px;
  font-weight: 600;
  background: #F6F5F7;
  letter-spacing: initial; }

.theme-select-overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s cubic-bezier(0, 0, 0.58, 1);
  background-color: #9660C6; }

.theme-select-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0, 0, 0.58, 1); }

.activate-theme-button[class] {
  width: 214px;
  padding-right: 15px;
  padding-left: 15px;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
  transition-property: transform, box-shadow;
  background-color: #FFFFFF;
  font-size: 18px; }
  .activate-theme-button[class].btn:hover {
    color: #201E21;
    background-color: #ffffff;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.1), 0 8px 8px 0 rgba(42, 54, 52, 0.1), 0 16px 16px 0 rgba(42, 54, 52, 0.1), 0 16px 32px 0 rgba(42, 54, 52, 0.1), 0 32px 64px 0 rgba(42, 54, 52, 0.1), 0 64px 128px 0 rgba(42, 54, 52, 0.1); }
  .activate-theme-button[class], .activate-theme-button[class]:active {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.7);
    transform: none; }
  .activate-theme-button[class]:active {
    transition-duration: .1s; }

button {
  border: 0;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none; }

.btn {
  text-decoration: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  position: relative;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-property: transform, background, background-color, color, box-shadow, opacity; }
  .btn:hover:not(.btn--text) {
    background-color: #8E65C0;
    color: #ffffff;
    transform: scale(1.05) translateY(-3px);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.7); }
  .btn--text {
    padding: 12px 18px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.35;
    color: #463850;
    opacity: .5; }
    .btn--text:hover, .btn--text:active {
      color: inherit;
      opacity: 1; }
  .btn--action {
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    line-height: 23px;
    font-weight: bold;
    text-align: center;
    background-color: #8E65C0;
    color: #ffffff;
    border-radius: 4px; }
    .btn--action.btn--small {
      background-color: #8E65C0;
      padding: 5px 30px;
      font-size: 13px; }
  .btn--validated {
    position: relative;
    padding-right: 55px;
    pointer-events: none; }
    .btn--validated:before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 30px;
      height: 30px;
      background: url("../images/icon-checked-white.svg") center center no-repeat;
      background-size: cover; }
  .btn--small {
    padding: 5px 30px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    background-color: #23282D; }
    .btn--small:hover {
      background-color: #8E65C0; }
  .btn--large {
    padding: 21px 40px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background-color: #8E65C0; }
    .btn--large:hover {
      background-color: #8E65C0; }
  .btn--full {
    width: 100%; }
    .btn--full:hover:not(.btn--full--text) {
      transform: scale(1.02) translateY(-3px); }
  .btn--green {
    background-color: #00CAB6; }
    .btn--green:hover:not(.btn--green--text) {
      background-color: #00CAB6; }
  .btn--blue {
    background-color: #8E65C0; }
  .btn--slim {
    padding: 0; }
  .btn--disabled {
    cursor: not-allowed;
    opacity: .5; }
  .btn--inverted {
    color: #201E21;
    background-color: #FFFFFF; }
    .btn--inverted:hover {
      color: #201E21;
      background-color: #FFFFFF; }
  .btn.btn--disabled, .btn:disabled, .btn[disabled] {
    opacity: .65;
    cursor: not-allowed; }
    .btn.btn--disabled:hover, .btn:disabled:hover, .btn[disabled]:hover {
      transform: none;
      box-shadow: none; }

.btn--action-secondary {
  height: 48px;
  border-radius: 2px;
  background-color: #78717D; }
  .btn--action-secondary:hover {
    background-color: #463850; }

.action-buttons {
  display: flex;
  justify-content: space-between; }

.action-buttons__renew {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.btn--recheck-license,
.btn--refresh-data {
  position: relative;
  width: auto;
  height: auto;
  padding: 12px 46px 12px 20px;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: initial; }
  .btn--recheck-license:hover,
  .btn--refresh-data:hover {
    color: #ffffff; }
  .btn--recheck-license:before,
  .btn--refresh-data:before {
    content: "";
    position: absolute;
    right: 17px;
    top: 50%;
    width: 23px;
    height: 23px;
    background: url("../images/icon-refresh.svg") center center no-repeat;
    background-size: 100% 100%;
    transform: translateY(-50%); }

.btn--icon-refresh {
  position: relative; }
  .btn--icon-refresh:before {
    content: "";
    display: inline-block;
    position: relative;
    margin-bottom: -6px;
    margin-left: 10px;
    width: 23px;
    height: 23px;
    background: url("../images/icon-refresh.svg") center center no-repeat;
    background-size: 100% 100%; }

.btn--reset-pixassist {
  position: relative;
  width: auto;
  height: auto;
  padding: 12px 20px;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: initial; }
  .btn--reset-pixassist:hover {
    color: #ffffff; }

.btn--recheck-license + span {
  margin-top: 13px;
  margin-bottom: -4px;
  display: block;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  color: #23282D;
  opacity: 0.6; }

.btn--info {
  display: inline-block;
  height: 13px;
  width: 13px;
  padding: 0;
  background: url("../images/icon-info-alt.svg") center center no-repeat;
  background-size: 100% 100%; }

.btn--feedback {
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 15px; }
  .btn--feedback:before {
    margin-left: 10px; }
  .btn--feedback[data-selectvalue="1"]:before {
    content: "\01F44D "; }
  .btn--feedback[data-selectvalue="0"]:before {
    content: "\01F44E "; }

.c-icon {
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px; }
  .c-icon--large {
    position: relative;
    top: 4px;
    margin-left: 5px;
    width: 36px;
    height: 36px; }

.c-icon--success {
  background-image: url("../images/icon-checked.svg"); }

.c-icon--warning {
  background-image: url("../images/icon-warning-yellow.svg"); }

.c-icon--success-auth {
  background-image: url("../images/icon-checked-purple.svg"); }

.header-toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px; }

.header-toolbar__wing {
  display: flex;
  align-items: center; }

.header-toolbar__wing--right .btn {
  opacity: 1; }

.header-toolbar__wing--right .btn:last-child {
  padding-left: 0; }

.theme__name {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  line-height: 49px;
  color: #201E21;
  opacity: 0.9;
  display: flex;
  align-items: center; }
  .theme__name span {
    margin-right: 8px;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    background-color: #00CAB6;
    color: white;
    text-transform: capitalize; }
    .theme__name span.pro {
      background-color: #8E65C0; }
    .theme__name span.woo {
      background-color: #96588a; }

.theme__status {
  margin-right: 21px;
  font-size: 14px;
  line-height: 1.35;
  color: #463850; }
  .theme__status--ok:before {
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    background: url("../images/icon-checked.svg") center center no-repeat;
    background-size: cover; }

.theme__status--ok:before, .theme__status--not-ok:before {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 5px;
  background: center center no-repeat;
  background-size: cover; }

.theme__status--ok:before {
  background-image: url("../images/icon-checked.svg"); }

.theme__status--not-ok:before {
  background-image: url("../images/icon-warning-yellow.svg"); }

.dashboard-tabs > *:first-child {
  justify-content: flex-start;
  background: #ffffff !important;
  width: auto !important; }

.dashboard-tabs__tab-name {
  padding: 2px 26px !important;
  border-bottom: 3px solid transparent !important;
  border-radius: 0;
  font-size: 15px;
  color: #463850;
  text-transform: none;
  opacity: .5; }
  .dashboard-tabs__tab-name--system-status {
    margin-right: auto !important;
    margin-left: 0 !important; }
    .dashboard-tabs__tab-name--system-status[disabled] {
      cursor: not-allowed !important; }

.section {
  position: relative;
  padding: 30px;
  margin: 20px 0; }
  .section--informative {
    padding: 50px; }
    .section--informative.entry-content .section__title,
    .section--informative .section__title {
      margin: -10px 0;
      font-size: 36px;
      font-weight: bold;
      line-height: 49px; }
    .section--informative .section__content {
      margin: 20px 0 20px 0; }
  .section .section__content > *:first-child:not(p) {
    margin-top: 0; }
  .section h1,
  .section h2,
  .section h3,
  .section h4,
  .section h5 {
    -webkit-font-smoothing: antialiased; }
  .section h5 + p {
    margin-top: 0; }
  .section ul {
    list-style-type: none;
    padding: 0; }
    .section ul li {
      margin-bottom: 7px; }
      .section ul li:last-child {
        margin-bottom: 0; }
  .section a:not([class]) {
    color: pink;
    color: #463850;
    text-decoration: none;
    text-shadow: -0.05em 0 0 white, 0.05em 0 0 white, 0 0.05em 0 white, 0 -0.05em 0 white, -0.1em 0 0 white, 0.1em 0 0 white, 0 0.1em 0 white, 0 -0.1em 0 white;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
    background-repeat: repeat-x;
    background-position: bottom 0em center;
    background-size: 2px 0.15em;
    transition: all 0.15s ease; }
    .section a:not([class]):hover {
      color: #8E65C0; }
  .section > *:first-child {
    margin-top: 0; }
  .section *:last-child {
    margin-bottom: 0; }

.section--airy {
  box-shadow: none;
  margin: 25px 0 20px 0;
  padding: 0;
  border: 0;
  background: transparent; }
  .section--airy .section__subtitle {
    margin-top: 0;
    margin-bottom: 5px !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    opacity: 0.9;
    color: #738D96; }
  .section--airy .section__title {
    margin-bottom: 0 !important;
    opacity: 0.9;
    font-size: 23px;
    line-height: 29px;
    font-weight: bold;
    text-align: center; }

.section__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 22px;
  color: #201E21;
  -webkit-font-smoothing: antialiased; }

.section__content,
.blocks {
  font-size: 16px;
  line-height: 1.625;
  color: #78717D; }
  .section__content + .btn--cta,
  .blocks + .btn--cta {
    margin-top: 12px; }

p.section__content {
  font-size: 16px;
  line-height: 1.625;
  color: #78717D; }
  p.section__content.small {
    font-size: 14px; }

.section__close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  background: none; }
  .section__close:before {
    content: "\f153";
    display: block;
    height: 20px;
    width: 20px;
    font: 400 16px/20px dashicons;
    text-align: center;
    color: #b4b9be;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.faq-question {
  margin-bottom: 27px; }
  .faq-question h3 {
    margin-bottom: 9px;
    font-size: 16px; }
  .faq-question p {
    margin-top: 0; }

.blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px; }
  .blocks > * {
    flex-basis: 100%;
    margin-right: 30px; }
  .blocks .half {
    flex-basis: 46%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    .blocks .half .section {
      margin-top: 0; }
    .blocks .half .section__title {
      margin-bottom: 14px;
      font-size: 18px;
      line-height: 1.33; }
    .blocks .half .section__content {
      margin: 0;
      margin-bottom: 22px; }
    .blocks .half p {
      margin-top: 0;
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 1.7; }
    .blocks .half .btn:last-child {
      margin-top: auto; }

.block.half h4 {
  margin-bottom: 14px; }

.block.half ul {
  margin-right: 0; }
  .block.half ul li {
    list-style: none; }

ul.benefits {
  margin-right: 0;
  margin-bottom: 35px !important; }
  ul.benefits li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    ul.benefits li i {
      position: relative;
      display: block;
      flex-shrink: 0;
      width: 22px;
      height: 22px;
      margin-left: 10px;
      border: 2px solid currentColor;
      border-radius: 50%;
      font-style: normal;
      color: #8E65C0;
      transform: rotate(135deg); }
      ul.benefits li i:before, ul.benefits li i:after {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        display: block;
        width: 2px;
        height: 9px;
        margin-right: -3px;
        margin-top: -4px;
        background-color: currentColor; }
      ul.benefits li i:after {
        width: 6px;
        height: 2px; }

.box {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 20px 0;
  padding: 16px 52px;
  border-radius: 4px;
  background: white;
  color: #ffffff; }
  .box:before {
    content: "";
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background: center center no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px; }
  .box--neutral {
    color: #463850;
    border: 1px solid #ebebeb; }
  .box--validated, .box--success {
    background-color: #3BB371; }
    .box--validated:before, .box--success:before {
      background-image: url("../images/icon-checked-white.svg"); }
  .box--error {
    background-color: #E3004A; }
    .box--error:before {
      background-image: url("../images/icon-error-white.svg"); }
  .box--info {
    background-color: #00A9DE; }
    .box--info:before {
      background-image: url("../images/icon-info-white.svg"); }
  .box--warning {
    background-color: #FFBF4D; }
    .box--warning:before {
      background-image: url("../images/icon-warning-white.svg"); }
  .box--validated, .box--error, .box--info, .box--warning {
    border: 0;
    color: white; }
  .box a {
    color: white; }
  .box > *:not(.box__filler) {
    position: relative;
    z-index: 1; }

.box__body {
  flex: 1 1 auto; }

.box__cta {
  margin-right: 20px;
  flex-shrink: 0; }

.box__close-icon {
  position: absolute !important;
  left: 20px;
  top: auto;
  font-size: 18px; }

.box__title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

.box__text,
.entry-content p.box__text {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: inherit; }

.box__filler {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  border-radius: inherit;
  display: block;
  height: 100%;
  width: 0;
  background-color: #8E65C0; }

.box--plugin-missing:before,
.box--plugin-installing:before,
.box--plugin-activating:before,
.box--plugin-updating:before,
.box--theme:before {
  width: 6px;
  height: 6px;
  border: 7px solid;
  border-radius: 50%; }

.box--theme[class][class]:after {
  transition-delay: 0s; }

.box--theme.box--plugin-activating[class]:after {
  transition-duration: .3s; }

[class].box.box--theme:before {
  content: "";
  position: static;
  transform: none;
  margin-left: 20px; }

.box--plugin-missing:before {
  border-color: #ebebeb; }

.box--plugin-activating,
.box--plugin-installing,
.box--plugin-updating {
  border: 0;
  background-color: #eee;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.3) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
  background-size: 50px 50px;
  animation: progress-bg-anim 2s linear infinite;
  -webkit-animation: progress-bg-anim 2s linear infinite; }
  .box--plugin-activating:before,
  .box--plugin-installing:before,
  .box--plugin-updating:before {
    border-color: #ffffff;
    background-color: #9660C6; }

.box--plugin-installing {
  color: #463850; }

@-webkit-keyframes progress-bg-anim {
  0% {
    background-position: 100% 0; }
  100% {
    background-position: 50px 50px; } }

@keyframes progress-bg-anim {
  0% {
    background-position: 100% 0; }
  100% {
    background-position: 50px 50px; } }

.box--plugin-invalidated,
.box--plugin-validated {
  transition: color .3s ease-in-out; }
  .box--plugin-invalidated:after,
  .box--plugin-validated:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #8E65C0;
    pointer-events: none; }

.box--plugin-invalidated:after {
  transform: translateX(100%); }

.box--plugin-installing:after {
  transition: 60s transform ease-out;
  transform: translateX(20%); }

.box--plugin-installing:nth-of-type(2):after {
  transition-delay: 4s; }

.box--plugin-installing:nth-of-type(3):after {
  transition-delay: 6s; }

.box--plugin-installing:nth-of-type(4):after {
  transition-delay: 8s; }

.box--plugin-installing:nth-of-type(5):after {
  transition-delay: 10s; }

.box--plugin-installing:nth-of-type(6):after {
  transition-delay: 12s; }

.box--plugin-installing:nth-of-type(7):after {
  transition-delay: 14s; }

.box--plugin-installing:nth-of-type(8):after {
  transition-delay: 16s; }

.box--plugin-installing:nth-of-type(9):after {
  transition-delay: 18s; }

.box--plugin-installing:nth-of-type(10):after {
  transition-delay: 20s; }

.box--plugin-installing:nth-of-type(11):after {
  transition-delay: 22s; }

.box--plugin-installing:nth-of-type(12):after {
  transition-delay: 24s; }

.box--plugin-installing:nth-of-type(13):after {
  transition-delay: 26s; }

.box--plugin-installing:nth-of-type(14):after {
  transition-delay: 28s; }

.box--plugin-installing:nth-of-type(15):after {
  transition-delay: 30s; }

.box--plugin-installing:nth-of-type(16):after {
  transition-delay: 32s; }

.box--plugin-installing:nth-of-type(17):after {
  transition-delay: 34s; }

.box--plugin-installing:nth-of-type(18):after {
  transition-delay: 36s; }

.box--plugin-installing:nth-of-type(19):after {
  transition-delay: 38s; }

.box--plugin-installing:nth-of-type(20):after {
  transition-delay: 40s; }

.box--plugin-installed:after {
  transition: .2s transform ease-in-out;
  transform: translateX(10%); }

.box--plugin-installed.box--plugin-installed:after {
  transition-delay: 0s; }

.box--plugin-activating {
  color: white; }
  .box--plugin-activating:after {
    transition: 20s transform ease-out;
    transform: translateX(5%); }
  .box--plugin-activating.box--plugin-activating:after {
    transition-delay: 0s; }

.box--plugin-validated {
  color: white;
  border: 0; }
  .box--plugin-validated:before {
    width: 20px;
    height: 20px;
    background-image: url("../images/icon-checked-white.svg");
    background-color: transparent;
    border: 0; }
  .box--plugin-validated:after {
    transition-duration: .3s;
    transform: translateX(0%); }

#pixelgrade_assistant_dashboard {
  position: relative; }
  #pixelgrade_assistant_dashboard .plugins {
    padding: 0;
    list-style-type: none; }
    #pixelgrade_assistant_dashboard .plugins p {
      margin-right: 0; }
  #pixelgrade_assistant_dashboard .plugin {
    overflow: hidden;
    margin-bottom: 10px;
    transition: .3s background ease-in-out;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
    #pixelgrade_assistant_dashboard .plugin:last-of-type {
      margin-bottom: 0; }
    #pixelgrade_assistant_dashboard .plugin.box {
      padding-left: 20px; }
      #pixelgrade_assistant_dashboard .plugin.box > div > div:first-child {
        margin-top: 10px; }
  #pixelgrade_assistant_dashboard .starter_content .box {
    padding: 16px 20px; }
    #pixelgrade_assistant_dashboard .starter_content .box:hover {
      background-color: #f8f8f8; }
    #pixelgrade_assistant_dashboard .starter_content .box:before {
      content: none; }
    #pixelgrade_assistant_dashboard .starter_content .box > div > div:first-child {
      margin-top: 10px; }

.system-status-tables div[style*="height: auto"]:not(.switch) > div:first-child table,
.system-status-tables div[style*="height: auto"]:not(.switch) > div:first-child table thead,
.system-status-tables div[style*="height: auto"]:not(.switch) > div:first-child table tr {
  border-bottom: 0 !important; }

.system-status-tables div[style*="height: auto"]:not(.switch) > div:first-child table {
  background-color: #FCFCFC !important; }

.system-status-tables div[style*="height: auto"]:not(.switch) {
  margin-bottom: 30px; }

.system-status-tables div[style*="height: auto"]:not(.switch):last-child {
  margin-bottom: 0; }

.system-status-tables .MuiSwitch-root {
  width: 58px;
  height: 38px;
  display: inline-flex;
  padding: 12px;
  z-index: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle; }

.system-status-tables .MuiSwitch-switchBase {
  top: 0;
  right: 0;
  color: #fafafa;
  z-index: 1;
  position: absolute;
  transition: right 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  will-change: left, transform;
  border-radius: 50%;
  padding: 9px; }

.system-status-tables .MuiSwitch-switchBase.Mui-checked {
  right: 100%;
  transform: translateX(100%); }

.system-status-tables .MuiSwitch-switchBase.Mui-disabled {
  color: #bdbdbd; }

.system-status-tables .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  opacity: 0.5; }

.system-status-tables .MuiSwitch-switchBase.Mui-disabled + .MuiSwitch-track {
  opacity: 0.12; }

.system-status-tables .MuiSwitch-colorPrimary.Mui-checked {
  color: #8E65C0; }

.system-status-tables .MuiSwitch-colorPrimary.Mui-disabled {
  color: #bdbdbd; }

.system-status-tables .MuiSwitch-colorPrimary.Mui-checked + .MuiSwitch-track {
  background-color: #8E65C0; }

.system-status-tables .MuiSwitch-colorPrimary.Mui-disabled + .MuiSwitch-track {
  background-color: #000; }

.system-status-tables .MuiSwitch-colorPrimary.Mui-checked:hover {
  background-color: rgba(142, 101, 192, 0.08); }

.system-status-tables .MuiSwitch-colorSecondary.Mui-checked {
  color: #00A9DE; }

.system-status-tables .MuiSwitch-colorSecondary.Mui-disabled {
  color: #bdbdbd; }

.system-status-tables .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
  background-color: #00A9DE; }

.system-status-tables .MuiSwitch-colorSecondary.Mui-disabled + .MuiSwitch-track {
  background-color: #000; }

.system-status-tables .MuiSwitch-colorSecondary.Mui-checked:hover {
  background-color: rgba(0, 169, 222, 0.08); }

.system-status-tables .MuiSwitch-sizeSmall {
  width: 40px;
  height: 24px;
  padding: 7px; }

.system-status-tables .MuiSwitch-sizeSmall .MuiSwitch-thumb {
  width: 16px;
  height: 16px; }

.system-status-tables .MuiSwitch-sizeSmall .MuiSwitch-switchBase {
  padding: 4px; }

.system-status-tables .MuiSwitch-input {
  right: -100%;
  width: 300%; }

.system-status-tables .MuiSwitch-thumb {
  width: 20px;
  height: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  background-color: currentColor; }

.system-status-tables .MuiSwitch-track {
  width: 100%;
  height: 100%;
  opacity: 0.38;
  z-index: -1;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 7px;
  background-color: #000; }

.system-status-table {
  border: 1px solid #ebebeb;
  margin-bottom: 30px;
  border-collapse: separate; }
  .system-status-table * {
    font-size: 14px !important; }
  .system-status-table th,
  .system-status-table td {
    padding: 15px 18px !important;
    text-align: right !important; }
  .system-status-table th {
    color: #463850 !important; }
  .system-status-table thead {
    background-color: #FCFCFC !important; }
  .system-status-table .system-status-description {
    font-size: 12px !important;
    text-align: left !important;
    color: #738D96; }
    .system-status-table .system-status-description p {
      margin-top: 0;
      white-space: normal; }
  .system-status-table .c-icon {
    width: 20px;
    height: 20px;
    margin-left: 7px;
    margin-bottom: -5px; }

.system-status-update-available {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #FFBF4D; }

.system-status-up-to-date {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #00CAB6; }

.icon-warning {
  height: 20px;
  width: 20px;
  background-color: #FFBF4D; }

.icon-checked {
  height: 20px;
  width: 20px;
  background-color: #00CAB6; }

#pixelgrade_assistant_dashboard .tools {
  margin-top: 56px; }
  #pixelgrade_assistant_dashboard .tools .reset-wrapper {
    text-align: right; }
    #pixelgrade_assistant_dashboard .tools .reset-wrapper p {
      margin-bottom: 14px; }

.allow-collect-data {
  margin-bottom: 28px;
  margin-top: 28px;
  text-align: right; }

.pixelgrade_assistant-setup {
  margin: 0;
  padding: 100px 0;
  background-color: #F1F1F1;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; }
  .pixelgrade_assistant-setup .pixelgrade_assistant-wrapper {
    max-width: 720px;
    margin-top: 0; }
  .pixelgrade_assistant-setup .btn--small {
    padding: 12px 55px;
    background-color: #8E65C0; }

.setup-wizard-theme-name {
  margin: 0;
  margin-bottom: 30px;
  font-size: 72px;
  font-weight: normal;
  line-height: 1.33;
  text-transform: capitalize; }

.stepper .btn--text,
.stepper .btn--small {
  font-size: 14px; }

.stepper .section--informative {
  margin-top: 15px; }

.stepper .no-background {
  background: transparent !important; }

.stepper .stepper-container {
  display: flex;
  flex-direction: row;
  place-content: center space-between;
  align-items: center;
  margin-bottom: 12px;
  padding-right: 0;
  padding-left: 0; }

.stepper > div:first-of-type > *:not(.stepper__step) {
  display: none; }

.stepper__step {
  cursor: pointer;
  flex: 1 1 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important; }

.stepper__label {
  position: relative;
  padding: 0 !important;
  flex-wrap: wrap;
  justify-content: center;
  cursor: inherit; }
  .stepper__label .stepper__label-icon {
    position: relative;
    z-index: 3;
    top: 13px;
    height: 20px;
    width: 20px;
    padding: 0 !important;
    background-color: #F1F1F1;
    opacity: 0;
    transition: opacity .2s ease-in-out; }
    .stepper__label .stepper__label-icon svg {
      margin-right: -2px;
      margin-top: -2px; }
  .stepper__label:before {
    content: "";
    position: absolute;
    top: 37px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
    width: 14px;
    height: 14px;
    background: #F1F1F1;
    border: 3px solid #cccccc;
    border-radius: 50%;
    transition: all .2s ease-in-out; }
  .stepper__label:after {
    content: "";
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 1;
    display: block;
    width: 100%;
    height: 4px;
    background: linear-gradient(to left, #cccccc 0%, #cccccc 100%);
    transition: all .5s ease-in-out; }
  .current .stepper__label:before,
  .passed .stepper__label:before,
  .done .stepper__label:before {
    border-color: #8E65C0;
    background: #8E65C0; }
  .passed .stepper__label:after,
  .passed:last-child .stepper__label:after {
    background: linear-gradient(to left, #8E65C0 0%, #8E65C0 100%); }
  .current .stepper__label:after {
    background: linear-gradient(to left, #8E65C0 0%, #8E65C0 50%, #cccccc 50%, #cccccc 100%); }
  .done .stepper__label .stepper__label-icon {
    opacity: 1; }

.stepper__label-name {
  order: -1;
  flex: 1 1 100%;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #78717D;
  cursor: inherit; }
  .current .stepper__label-name,
  .done .stepper__label-name,
  .passed .stepper__label-name {
    color: #8E65C0; }
  .stepper__label-name > span[class] {
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; }

.stepper__navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; }
  .stepper__navigator:empty {
    margin-top: -30px; }

.stepper__navigator .btn--action {
  margin-right: auto; }

.stepper__content {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  /*Blocks classes*/ }
  .stepper__content.is--hidden {
    opacity: 0; }
  .stepper__content .block {
    display: inline-block;
    vertical-align: top;
    width: 100%; }
    .stepper__content .block.half {
      width: 50%; }
      .stepper__content .block.half a:not([class]) {
        color: #78717D;
        background: none;
        border-bottom: 2px solid rgba(0, 0, 0, 0.15); }

.stepper .btn--text.btn--return-to-dashboard {
  display: block;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  text-align: center; }

.pixelgrade_assistant-setup .plugins {
  padding: 0;
  list-style-type: none; }
  .pixelgrade_assistant-setup .plugins p {
    margin-right: 0; }

.pixelgrade_assistant-setup .plugin {
  overflow: hidden;
  margin-bottom: 10px;
  transition: .3s background ease-in-out;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); }
  .pixelgrade_assistant-setup .plugin:last-of-type {
    margin-bottom: 0; }
  .pixelgrade_assistant-setup .plugin.box {
    padding-left: 20px; }
    .pixelgrade_assistant-setup .plugin.box:hover {
      background-color: #f8f8f8; }
    .pixelgrade_assistant-setup .plugin.box > div > div:first-child {
      margin-top: 10px; }

.pixelgrade_assistant-setup .starter_content .box {
  padding: 16px 20px; }
  .pixelgrade_assistant-setup .starter_content .box:hover {
    background-color: #f8f8f8; }
  .pixelgrade_assistant-setup .starter_content .box:before {
    content: none; }
  .pixelgrade_assistant-setup .starter_content .box > div > div:first-child {
    margin-top: 10px; }

a.import--action[disabled] {
  cursor: not-allowed;
  background-color: #738D96; }

a.import--action {
  margin-top: 24px; }

#wp-a11y-speak-polite {
  display: none; }

.logo-pixelgrade {
  display: none;
  width: 143px;
  height: 37px;
  margin: 150px auto 0;
  background: url("../images/pg-logo.svg") center center no-repeat;
  background-size: contain;
  pointer-events: none; }

.pixlgrade-care-welcome .crown {
  display: none;
  width: 85px;
  height: 67px;
  margin: 0 auto 110px;
  background: url("../images/crown.svg") center center no-repeat;
  background-size: contain; }

#pixelgrade_assistant_setup_wizard .crown {
  width: 85px;
  height: 67px;
  margin: 0 auto 110px;
  background: url("../images/crown.svg") center center no-repeat;
  background-size: contain; }

.stepper > :first-child {
  pointer-events: none; }

/* ==========================================================================
  #PANEL COMPONENT - TAKEN FROM PIXELGRADE.COM FOR THE MARKETING BLOCK
  ========================================================================== */
/**
 * The panel object simply boxes off content
 *
 * <div class="layout flexbox">
 * 	<div class="layout__item">
 * 		// See _panel.scss
 * 		<div class="panel panel--left b-white">
 * 			<div class="panel__title">
 * 				<h4>Title</h4>
 * 			</div>
 * 			<div class="panel__content">
 * 				<ul class="nav nav--vertical">

 * 				</ul>
 * 			</div>
 * 		</div>
 * 	</div>
 * </div>
 */
.panel {
  text-align: center;
  padding: 24px;
  border-radius: 4px; }
  @media (min-width: 46.25em) {
    .panel {
      padding: 48px; } }
  @media (max-width: 46.24em) {
    .panel.marketing-block .panel__content .o-media {
      display: block; }
    .panel.marketing-block .panel__content .o-media__img {
      float: none;
      margin-left: 0;
      margin-bottom: 24px; } }
  @media (min-width: 46.25em) {
    .panel.marketing-block .panel__content .o-media__img {
      flex-basis: 25%; }
      .panel.marketing-block .panel__content .o-media__img img {
        margin-bottom: -80px;
        margin-right: -24px;
        margin-top: -24px;
        max-width: none; } }
  .panel.marketing-block .panel__content .o-media__body {
    flex-basis: 75%;
    overflow: visible; }
    .panel.marketing-block .panel__content .o-media__body > *:first-child {
      margin-top: 0; }
    .panel.marketing-block .panel__content .o-media__body .title {
      margin-top: -7px;
      padding-top: 0;
      padding-bottom: 0; }
    .panel.marketing-block .panel__content .o-media__body p {
      padding-bottom: 0; }
  .panel.marketing-block.panel--highlighted {
    background: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.1), 0 8px 8px 0 rgba(42, 54, 52, 0.1), 0 16px 64px 0 rgba(42, 54, 52, 0.1), 0 32px 128px 0 rgba(42, 54, 52, 0.1);
    border-radius: 4px; }
  .panel.marketing-block a.button {
    text-shadow: none;
    background-image: none;
    color: #2F2F2F; }

.panel__title .button--naked {
  position: absolute;
  top: 0;
  left: 0;
  right: auto; }

.panel__content {
  color: white; }
  .panel__content h1, .panel__content h2, .panel__content h3, .panel__content h4, .panel__content h5, .panel__content h6 {
    color: white; }
  .panel__content .o-media {
    align-items: center;
    display: flex; }
    .panel__content .o-media .o-media__body {
      flex-grow: 2; }
      .panel__content .o-media .o-media__body > .layout {
        align-items: center; }
      .panel__content .o-media .o-media__body .description {
        padding-bottom: 24px; }
      .panel__content .o-media .o-media__body .button {
        cursor: pointer;
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
        transition-property: transform,background,background-color,color,box-shadow;
        display: inline-block;
        position: relative;
        border: 0;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: 500;
        background-color: #201e21;
        border-radius: 4px;
        box-shadow: 0 0 1px transparent;
        -webkit-font-smoothing: antialiased;
        -webkit-tap-highlight-color: transparent;
        -moz-osx-font-smoothing: grayscale;
        transform: perspective(1px) translateZ(0);
        font-size: 16px;
        padding: 10px 16px 10px;
        height: auto; }
        .panel__content .o-media .o-media__body .button:hover {
          transform: scale(1.05) translateY(-3px);
          box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.7); }
        .panel__content .o-media .o-media__body .button--white {
          background-color: #fff;
          color: #201e21; }
        .panel__content .o-media .o-media__body .button--large {
          font-size: 18px;
          padding: 13px 24px 11px; }

.panel--highlighted {
  box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.1), 0 8px 8px 0 rgba(42, 54, 52, 0.1), 0 16px 16px 0 rgba(42, 54, 52, 0.1), 0 16px 32px 0 rgba(42, 54, 52, 0.1), 0 32px 64px 0 rgba(42, 54, 52, 0.1), 0 64px 128px 0 rgba(42, 54, 52, 0.1);
  border-radius: 0; }

.panel--shadowed {
  box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.1), 0 8px 8px 0 rgba(42, 54, 52, 0.1), 0 32px 64px 0 rgba(42, 54, 52, 0.1), 0 64px 128px 0 rgba(42, 54, 52, 0.1);
  border-radius: 0; }

.panel--slim {
  padding: 32px; }

.b-facebook {
  background-color: #3b5998;
  color: #ffffff; }

.panel--left {
  text-align: right; }

.panel__title {
  position: relative;
  margin-bottom: 24px; }
  .panel__title h1:last-child, .panel__title h2:last-child, .panel__title h3:last-child, .panel__title h4:last-child {
    margin-bottom: 0; }
  .panel__title .form-control {
    width: 100%; }
  .panel__title.has--grid {
    z-index: 1; }
    .panel__title.has--grid:before {
      right: -12px;
      left: -12px;
      top: -16px;
      bottom: -12px;
      width: auto;
      height: auto; }
    .panel__title.has--grid > h3 {
      display: inline;
      padding: 2px 6px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }

.panel__content ul, .panel__content ol {
  margin-right: 0; }

.panel__content .nav.nav--stacked li {
  margin-bottom: 6px; }
  .panel__content .nav.nav--stacked li > .button {
    white-space: normal;
    margin-bottom: 12px; }

.clear:after {
  content: "";
  display: table;
  clear: both; }

#pixelgrade_assistant-support-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 150000; }
  #pixelgrade_assistant-support-button button > span:first-child {
    text-transform: capitalize !important;
    font-size: 13px; }
    #pixelgrade_assistant-support-button button > span:first-child .info-icon {
      margin-left: 5px;
      font-size: 17px; }

.wp-customizer #pixelgrade_assistant-support-button {
  z-index: 550000; }

#wpfooter {
  padding-left: 130px; }

#pixassist-support-modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 200px;
  width: 50%;
  max-width: 900px;
  min-width: 450px;
  height: 100%;
  overflow-x: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  box-sizing: border-box;
  padding: 46px;
  padding-bottom: 120px;
  z-index: 99999999999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(42, 54, 52, 0.1), 0 8px 8px 0 rgba(42, 54, 52, 0.1), 0 16px 16px 0 rgba(42, 54, 52, 0.1), 0 16px 32px 0 rgba(42, 54, 52, 0.1), 0 32px 64px 0 rgba(42, 54, 52, 0.1), 0 64px 128px 0 rgba(42, 54, 52, 0.1); }
  body.admin-bar #pixassist-support-modal {
    top: 32px;
    height: calc(100% - 32px); }
  #pixassist-support-modal .tabs__close-btn {
    position: absolute !important;
    left: 0;
    top: 0;
    min-width: 0 !important;
    width: 54px !important;
    height: 54px !important;
    color: #463850 !important;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0.6; }
    #pixassist-support-modal .tabs__close-btn:hover {
      background: transparent !important;
      opacity: 1; }
    #pixassist-support-modal .tabs__close-btn > div > span {
      display: none; }
  #pixassist-support-modal .external-link {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: url("../images/icon-external-link.svg") center no-repeat;
    opacity: 0.3; }
    #pixassist-support-modal .external-link:active, #pixassist-support-modal .external-link:focus {
      outline: none;
      box-shadow: none; }
    #pixassist-support-modal .external-link:hover {
      opacity: 1; }
  #pixassist-support-modal .search-result-title {
    margin-top: 14px;
    overflow: hidden; }
    #pixassist-support-modal .search-result-title h2 {
      margin: 0;
      float: right; }
    #pixassist-support-modal .search-result-title .external-link {
      float: left;
      margin-top: 7px; }
  #pixassist-support-modal .support-search {
    margin-top: 34px; }
  #pixassist-support-modal .error, #pixassist-support-modal .updated {
    margin-top: 34px;
    box-shadow: none;
    padding-bottom: 10px; }
  #pixassist-support-modal .self-help-breadcrumbs {
    margin: 34px 0 14px 0; }
    #pixassist-support-modal .self-help-breadcrumbs span a {
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      color: #463850;
      text-decoration: none; }
    #pixassist-support-modal .self-help-breadcrumbs span .dashicons {
      font-size: 16px;
      color: #aaaaaa;
      margin: 0 6px;
      vertical-align: bottom; }
    #pixassist-support-modal .self-help-breadcrumbs span:last-child a {
      color: #8E65C0; }
  #pixassist-support-modal input, #pixassist-support-modal textarea {
    width: 100%;
    margin: 0;
    padding: 11px 18px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: none;
    font-size: 16px;
    line-height: 26px;
    color: #463850; }
  #pixassist-support-modal textarea {
    max-width: 100%; }
  #pixassist-support-modal label {
    display: block;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px; }
  #pixassist-support-modal .form-row {
    margin-bottom: 30px; }
    #pixassist-support-modal .form-row.submit-wrapper {
      text-align: left; }
    #pixassist-support-modal .form-row a:not([class]) {
      color: #463850;
      text-decoration: none;
      text-shadow: -0.05em 0 0 white, 0.05em 0 0 white, 0 0.05em 0 white, 0 -0.05em 0 white, -0.1em 0 0 white, 0.1em 0 0 white, 0 0.1em 0 white, 0 -0.1em 0 white;
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
      background-repeat: repeat-x;
      background-position: bottom 0em center;
      background-size: 2px 0.15em;
      transition: all 0.15s ease;
      color: #8E65C0; }
      #pixassist-support-modal .form-row a:not([class]):hover {
        color: #8E65C0; }
  #pixassist-support-modal .label__more-info {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 15px;
    line-height: 26px; }
  #pixassist-support-modal .ticket-form {
    margin-top: 38px; }
  #pixassist-support-modal .btn__dark {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 2px;
    background: #463850;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    line-height: 26px;
    cursor: pointer; }
  #pixassist-support-modal .notification {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased; }
    #pixassist-support-modal .notification .dashicons {
      font-size: 20px;
      margin: 0 5px 0 15px; }
    #pixassist-support-modal .notification.sticky {
      position: fixed;
      bottom: 30px;
      left: 0;
      margin-right: -20px;
      margin-left: 20px;
      box-sizing: border-box;
      z-index: 9999; }
      #pixassist-support-modal .notification.sticky.feedback-message-form {
        left: auto; }
  #pixassist-support-modal .notification__blue {
    color: #ffffff;
    background: #8E65C0;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1); }
    #pixassist-support-modal .notification__blue.dark {
      background: #463850; }
  #pixassist-support-modal .notification__green {
    color: #ffffff;
    background: #00CAB6;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1); }
  #pixassist-support-modal .notification__message {
    padding: 0 8px; }
    @media only screen and (max-width: 900px) {
      #pixassist-support-modal .notification__message {
        text-align: center; } }
  #pixassist-support-modal .notification__actions {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    margin-right: auto; }
    #pixassist-support-modal .notification__actions > .btn {
      margin-right: 10px; }
    @media only screen and (max-width: 900px) {
      #pixassist-support-modal .notification__actions {
        flex-basis: 100%;
        margin-top: 10px; }
        #pixassist-support-modal .notification__actions .btn:first-child {
          margin-right: 0; } }
  #pixassist-support-modal table, #pixassist-support-modal iframe, #pixassist-support-modal img, #pixassist-support-modal canvas {
    max-width: 100% !important; }
  #pixassist-support-modal img {
    height: auto; }
  #pixassist-support-modal table {
    width: 100% !important; }
  #pixassist-support-modal p {
    font-size: 16px; }

.tabs-container {
  border-bottom: 1px solid #dddddd;
  padding-right: 46px;
  padding-left: 46px;
  margin: -46px -46px 46px -46px; }
  .tabs-container .tab__button {
    text-transform: none !important; }

input::-webkit-input-placeholder {
  font-size: 16px;
  color: #463850;
  opacity: .5; }

input:-moz-placeholder {
  /* Firefox 18- */
  font-size: 16px;
  color: #463850;
  opacity: .5; }

input::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 16px;
  color: #463850;
  opacity: .5; }

input:-ms-input-placeholder {
  font-size: 16px;
  color: #463850;
  opacity: .5; }

#kb-listing,
.topics-list,
.accordion-list {
  border: 1px solid #dddddd;
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: 0; }
  #kb-listing > li,
  #kb-listing > li > ul > li,
  .topics-list > li,
  .topics-list > li > ul > li,
  .accordion-list > li,
  .accordion-list > li > ul > li {
    position: relative;
    margin-bottom: 0;
    border-top: 1px solid #dddddd; }
    #kb-listing > li:first-child,
    #kb-listing > li > ul > li:first-child,
    .topics-list > li:first-child,
    .topics-list > li > ul > li:first-child,
    .accordion-list > li:first-child,
    .accordion-list > li > ul > li:first-child {
      border-top: 0; }
    #kb-listing > li > a:not(.external-link),
    #kb-listing > li > span,
    #kb-listing > li > ul > li > a:not(.external-link),
    #kb-listing > li > ul > li > span,
    .topics-list > li > a:not(.external-link),
    .topics-list > li > span,
    .topics-list > li > ul > li > a:not(.external-link),
    .topics-list > li > ul > li > span,
    .accordion-list > li > a:not(.external-link),
    .accordion-list > li > span,
    .accordion-list > li > ul > li > a:not(.external-link),
    .accordion-list > li > ul > li > span {
      display: block;
      position: relative;
      padding-right: 50px;
      padding-top: 13px;
      padding-bottom: 13px;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      line-height: 22px;
      text-decoration: none;
      color: #463850; }
    #kb-listing > li > span,
    #kb-listing > li > ul > li > span,
    .topics-list > li > span,
    .topics-list > li > ul > li > span,
    .accordion-list > li > span,
    .accordion-list > li > ul > li > span {
      padding-right: 20px;
      font-weight: 700; }
    #kb-listing > li > a:not(.external-link):hover, #kb-listing > li > a:not(.external-link):active, #kb-listing > li > a:not(.external-link):focus,
    #kb-listing > li > ul > li > a:not(.external-link):hover,
    #kb-listing > li > ul > li > a:not(.external-link):active,
    #kb-listing > li > ul > li > a:not(.external-link):focus,
    .topics-list > li > a:not(.external-link):hover,
    .topics-list > li > a:not(.external-link):active,
    .topics-list > li > a:not(.external-link):focus,
    .topics-list > li > ul > li > a:not(.external-link):hover,
    .topics-list > li > ul > li > a:not(.external-link):active,
    .topics-list > li > ul > li > a:not(.external-link):focus,
    .accordion-list > li > a:not(.external-link):hover,
    .accordion-list > li > a:not(.external-link):active,
    .accordion-list > li > a:not(.external-link):focus,
    .accordion-list > li > ul > li > a:not(.external-link):hover,
    .accordion-list > li > ul > li > a:not(.external-link):active,
    .accordion-list > li > ul > li > a:not(.external-link):focus {
      outline: none;
      box-shadow: none;
      background: #8E65C0;
      color: white; }
      #kb-listing > li > a:not(.external-link):hover:before, #kb-listing > li > a:not(.external-link):active:before, #kb-listing > li > a:not(.external-link):focus:before,
      #kb-listing > li > ul > li > a:not(.external-link):hover:before,
      #kb-listing > li > ul > li > a:not(.external-link):active:before,
      #kb-listing > li > ul > li > a:not(.external-link):focus:before,
      .topics-list > li > a:not(.external-link):hover:before,
      .topics-list > li > a:not(.external-link):active:before,
      .topics-list > li > a:not(.external-link):focus:before,
      .topics-list > li > ul > li > a:not(.external-link):hover:before,
      .topics-list > li > ul > li > a:not(.external-link):active:before,
      .topics-list > li > ul > li > a:not(.external-link):focus:before,
      .accordion-list > li > a:not(.external-link):hover:before,
      .accordion-list > li > a:not(.external-link):active:before,
      .accordion-list > li > a:not(.external-link):focus:before,
      .accordion-list > li > ul > li > a:not(.external-link):hover:before,
      .accordion-list > li > ul > li > a:not(.external-link):active:before,
      .accordion-list > li > ul > li > a:not(.external-link):focus:before {
        color: white; }
    #kb-listing > li > a:not(.external-link):before,
    #kb-listing > li > ul > li > a:not(.external-link):before,
    .topics-list > li > a:not(.external-link):before,
    .topics-list > li > ul > li > a:not(.external-link):before,
    .accordion-list > li > a:not(.external-link):before,
    .accordion-list > li > ul > li > a:not(.external-link):before {
      content: "\f345";
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translate(0, -50%);
      color: #aaaaaa;
      font: normal normal normal 14px/1 dashicons;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
  #kb-listing .external-link,
  .topics-list .external-link,
  .accordion-list .external-link {
    position: absolute;
    left: 16px;
    top: 16px;
    z-index: 999; }
  #kb-listing:empty,
  .topics-list:empty,
  .accordion-list:empty {
    display: none; }

.accordion-list > li > a:not(.external-link):before {
  content: "\f347"; }

.accordion-list > li > a:not(.external-link).open-nav {
  background: #8E65C0;
  color: white; }
  .accordion-list > li > a:not(.external-link).open-nav:before {
    content: '\f343';
    color: white; }

.related-article-rendered {
  padding: 20px;
  border-top: 1px solid #dddddd; }

.ticket-submit-wrapper {
  display: inline-block; }

#error-description {
  font-size: 12px;
  color: red; }

.support-disabled .support-autocomplete-search input,
.support-disabled .support-ticket-wrapper {
  pointer-events: none;
  opacity: .5; }

.not-allowed {
  cursor: not-allowed; }

.hidden {
  display: none; }

.feedback .notification__message {
  margin-top: 0;
  color: inherit; }

.feedback .notification__actions {
  margin-top: 25px; }
  .feedback .notification__actions .btn {
    text-transform: none; }
